@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formulario-header{
    max-width: 30%;
    background-color: #e7eced;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
}

.formulario{
    background-image: url(/public/img/background.jpg);
    display: flex;
    justify-items: center;
    align-items: center;
    
}

.logo {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
    margin-bottom: 2%;
    width: 15%;
  }

.botao {
    background-color: #e7eced;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 34px;
    width: 25%;
    height: 2em;
  }
  
.botao:hover {
    transition: 0.4s;
    background-color: rgb(90, 88, 88);
  }